<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="assets/bb.jpg" width="280px" height="265px" alt="Therapeutic">
    <div class="card-body">
      <h5 class="card-title">Therapeutic</h5>
<div class="list-group">
  <a class="list-group-item list-group-item-action active">
    Daftar obat dengan kategori Therapeutic
  </a>
  <a href="/therapic" class="list-group-item list-group-item-action">INTERNIST</a>
  <a href="/obygn" class="list-group-item list-group-item-action">OBYGN</a>
  <a href="/pediatric" class="list-group-item list-group-item-action">PEDIATRIC</a>
  <a href="/surgery" class="list-group-item list-group-item-action">SURGERY</a>
</div>
	</div>
    <div class="card-footer">
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/NSAID.jpeg" width="280px" height="265px" alt="NSAID">
    <div class="card-body">
      <h5 class="card-title">NSAID</h5>
      <p class="card-text">NSAID adalah obat non-steroid anti-inflamasi yang umum digunakan untuk mengobati gangguan muskuloskeletal.
Terutama digunakan untuk meringankan gejala nyeri atau Rasa sakit yang disebabkan oleh peregangan otot, keseleo, sakit kepala, migrain & dismenore, 
    Demam dan Peradangan.</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="/nsaids" role="button">Read More</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/Therapeutic.jpg" width="280px" height="265px" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Vitamin & Suplemen</h5>
      <p class="card-text">Vitamin merupakan senyawa yang dibutuhkan untuk mengatur fungsi metabolisme dalam tubuh, perbaikan sel dan mencegah penuaan dini</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-primary" href="/vit" role="button">Read More</a>
    </div>
  </div>
</div>