<p> Daftar obat dengan kategori Surgery</p> 
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Nama Obat</th>
      <th scope="col">Komposisi</th>
      <th scope="col">Dosis</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>CALSICAL<br/>Obat Pencegahan defisiensi kalsium selama kehamilan</td>
      <td>Tiap tablet mengandung Calcium citrate 500 mg,
Cholecalciferol 100 IU</td>
      <td>1 – 2 x 1 tablet sehari</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>CALOSBON</td>
      <td>Tiap tablet mengandung Calcium citrate 300 mg	6 %,Vitamin D3 50 IU 8 %, Isoflavone 50 mg<br/>
Bahan tambahan:<br/>
Methylparaben, Propylparaben, Ultralike tartrazine, Ponceau 4R, FD&C Blue</td>
      <td>1 – 2 tablet sehari</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>BIOSAN<br/>Infertilitas, Disfungsi ereksi, Rendah libido</td>
      <td>Tiap tablet mengandung Ekstrak Tribulus Terrestris 275 mg</td>
      <td>Infertilitas: 3 kali sehari 1 – 2 tablet, 60 – 90 hari<br/>
    Disfungsi ereksi: 3 kali sehari 1 – 2 tablet, 30 – 40 hari<br/>
    Rendah libido: 2 kali sehari 1 tablet, 10 hari
</td>
<tr>
      <th scope="row">4</th>
      <td>BIO-E 200<br/>Memelihara kesehatan tubuh dan Sebagai antioksidan</td>
      <td>Takaran per Saji:<br/>
Vitamin E 200 IU (692,8 % AKG*)<br/>
(d-alphatocopherol)<br/>
* % AKG berdasarkan pada diet 2000 kalori</td>
     <td>Sehari 1 kapsul lunak</td>
    </tr>
	<tr>
      <th scope="row">5</th>
      <td>XEPAVIT<br/>Defisiensi vitamin dan mineral,dan Membantu proses pemulihan pada saat sakit</td>
      <td>Tiap kaplet XEPAVIT mengandung:<br/>
Vit. B1 20 mg, Vit. B2 20 mg, Vit. B6 20 mg, Vit. B12 12 mcg, Vit. C 500 mg, Vit. E 100 IU,
Ca Pantothenate	20 mg, Folic acid 400 mcg, Zinc	15 mg</td>
      <td>1 kali sehari 1 kaplet</td>
    </tr>
  </tbody>
</table>