<h5>Daftar obat dengan kategori Internist</h5>

<div class="container">

<div class="clearfix" style="padding-bottom: 20px; ">
	<button class="btn btn-primary float-right" (click)="open(content)">BUAT DATA OBAT BARU</button>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nama Obat</th>
      <th scope="col">Komposisi</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let n of dataSource; let nomer=index">
      <th scope="row">{{nomer+1}}</th>
      <td>{{n.nama_obat}}</td>
      <td>{{n.komposisi}}</td>
      <td align="right">
      		<button class="btn btn-primary" >EDIT</button>
      	<button class="btn btn-danger" style="margin-left: 10px;" (click)="deleteData(nomer)">HAPUS</button>
      </td>
    </tr>
  
  </tbody>
</table>

</div>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Menambahkan Data Obat Baru</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    

 <div class="form-group">
    <label for="exampleInputEmail1">Nama Obat</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Masukkan Nama Obat" [(ngModel)]="user.nama_obat">
    
</div>
  <div class="form-group">
    <label for="exampleInputPassword1">Komposisi</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Masukkan komposisi obat" [(ngModel)]="user.komposisi">
  </div>




  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveData(user)">Save</button>
  </div>
</ng-template>