<div class="card-group">
  <div class="card">
    <img src="assets/BIO-E.png" class="card-img-top" alt="BIO-E">
    <div class="card-body">
      <h5 class="card-title">BIO-E-200</h5>
      <p class="card-text"><b>KOMPOSISI</b><br/>
Takaran per Saji:<br/>
Vitamin E 200 IU (692,8 % AKG*)<br/>
(d-alphatocopherol)<br/>* % AKG berdasarkan pada diet 2000 kalori<br/><br/>
<b>KEGUNAAN</b><br/>
    Memelihara kesehatan tubuh<br/>
    Sebagai antioksidan<br/><br/>
<b>DOSIS</b><br/>
Sehari 1 kapsul lunak<br/><br/>
<b>KEMASAN</b><br/>
Botol, Kapsul Lunak 30<br/>
Botol, Kapsul Lunak 60
</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="assets/XEPAVIT.jpg" class="card-img-top" alt="XEPAVIT">
    <div class="card-body">
      <h5 class="card-title">XEPAVIT</h5>
      <p class="card-text"><b>KOMPOSISI</b><br/><br/>
Tiap kaplet XEPAVIT mengandung:<br/>
Vit. B1 20 mg, Vit. B2 20 mg, Vit. B6 20 mg, Vit. B12 12 mcg, Vit. C 500 mg, Vit. E 100 IU,
Ca Pantothenate	20 mg, Folic acid 400 mcg, Zinc	15 mg<br/><br/>
<b>INDIKASI</b><br/>
    Defisiensi vitamin dan mineral<br/>
    Membantu proses pemulihan pada saat sakit<br/><br/>
<b>KONTRAINDIKASI</b><br/>
Penderita yang hipersensitif terhadap salah satu komponen obat.<br/><br/>
<b>DOSIS</b><br/>
1 kali sehari 1 kaplet<br/><b>KEMASAN</b><br/>
Box, Kaplet 10 x 10’s
</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="assets/TRIPID.jpg" class="card-img-top" alt="TRIPID">
    <div class="card-body">
      <h5 class="card-title">TRIPID</h5>
      <p class="card-text"><b>KOMPOSISI</b><br/>
Lecithin 300 mg<br/>
Curcuma Xanthorrhiza extract 20 mg<br/>
Eleutherococcus senticosus extract 6 mg<br/>
Vitamin E 10 mg<br/>AKG 66,66 %<br/>
* % AKG berdasarkan diet 2000 kalori<br/><br/>
<b>BENTUK SEDIAAN</b><br/>
Kapsul<br/><br/>
<b>INDIKASI</b><br/>
Membantu memelihara kesehatan tubuh.<br/><br/>
<b>DOSIS</b><br/>
1 x 1 – 2 kapsul sehari<br/><br/>
<b>KEMASAN</b>
Dus, Kapsul 10 x 10’s<br/>
POM SD142345781</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="assets/XANDA.jpg" class="card-img-top" alt="XANDA">
    <div class="card-body">
      <h5 class="card-title">XANDA Syrup</h5>
      <p class="card-text"><b>KOMPOSISI</b><br/>
Tiap 5 mL (1 sendok takar) mengandung:<br/>
Curcuma xanthorrhiza rhizome extract 23 mg<br/>
Lysine 85 mg<br/>
Taurine 12,5 mg<br/>
Inositol 14,5 mg<br/>
Fructooligosaccharide 55,5 mg <br/>
Bahan tambahan: Sucralose, Raspberry flavour, Sodium benzoate, Sorbitol,
Mengandung pemanis buatan sucralose.<br/>
<b>**Produk ini tidak boleh digunakan oleh bayi di bawah 1 tahun**</b><br/><br/>
<b>KEGUNAAN</b><br/>
Membantu memelihara kondisi tubuh.<br/><br/>
<b>ATURAN PAKAI</b><br/>
Diminum 1 jam sebelum makan.<br/>
Anak-anak:<br/>
1 – 6 tahun: 1 x 1 sendok takar (5 mL) sehari;<br/>
6 – 12 tahun: 2 x 1 sendok takar (5 mL) sehari;<br/>
Dewasa:<br/>
3 x 1 sendok takar (5 mL) sehari<br/>
Kocok dahulu sebelum diminum
</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>