
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ADD8E6;">
  <a class="navbar-brand" href="#">Expelliarmus Farma</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li> 
	  <li class="nav-item">
        <a class="nav-link" routerLink="/our-products" routerLinkActive="active">Our Products</a>
      </li> 
	  <li class="nav-item">
        <a class="nav-link" routerLink="/business-and-development" routerLinkActive="active">Business & Development</a>
      </li> 
	   <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
      </li> 
	  
	  
	</ul>
	
  
  
</div>
</nav>




<router-outlet></router-outlet>


