<p> Daftar obat dengan kategori OBYGN</p> 
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Nama Obat</th>
      <th scope="col">Komposisi</th>
      <th scope="col">Dosis</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>CALSICAL<br/>Obat Pencegahan defisiensi kalsium selama kehamilan</td>
      <td>Tiap tablet mengandung Calcium citrate 500 mg,
Cholecalciferol 100 IU</td>
      <td>1 – 2 x 1 tablet sehari</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>CALOSBON</td>
      <td>Tiap tablet mengandung Calcium citrate 300 mg	6 %,Vitamin D3 50 IU 8 %, Isoflavone 50 mg<br/>
Bahan tambahan:<br/>
Methylparaben, Propylparaben, Ultralike tartrazine, Ponceau 4R, FD&C Blue</td>
      <td>1 – 2 tablet sehari</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>KADIFLAM<br/>Nyeri, inflamasi dan pembengkakan pasca trauma, misal karena keseleo.<br/>
Nyeri, inflamasi dan pembengkakan pasca bedah, misal pada pembedahan gigi atau tulang.</td>
      <td>Tiap tablet salut selaput mengandung Diclofenac potassium 50 mg</td>
      <td>Dewasa, dosis maksimal 100 mg per hari (dosis awal maksimal 150 mg sehari pada hari pertama) dalam dosis terbagi dan dengan durasi sesingkat mungkin.<br/>
    Apabila berdasarkan penilaian dokter diperlukan dosis yang lebih tinggi, harus ada pertimbangan manfaat-resiko dengan baik.<br/>
    Tablet KADIFLAM® harus ditelan secara utuh dengan cairan.
</td>
    </tr>
	<tr>
      <th scope="row">4</th>
      <td>ASAMNEX<br/>Perdarahan-perdarahan yang melibatkan peningkatan<br/> aktivitas fibrinolisis sistemik seperti pada penyakit leukemia,<br/> anemia hipoplastik, purpura, perdarahan selama /sesudah operasi.</td>
      <td>Tiap tablet salut selaput mengandung Tranexamic acid 500 mg</td>
      <td>3 – 4 x 250 – 500 mg sehari.<br/>
    Dosis harus disesuaikan dengan keadaan pasien.<br/>
    Pada pasien yang mengalami gangguan fungsi ginjal, dosis yang dianjurkan adalah:<br/>
	Serum Kreatinin 120 – 150 u mol/ℓ, Dosis 15 mg/kg BB,Frekuensi 2 x sehari<br/>
Serum Kreatinin 250 – 500 u mol/ℓ,Dosis 15 mg/kg BB,Frekuensi 1 x sehari<br/>
Serum Kreatinin > 500 u mol/ℓ, Dosis 7,5 mg/kg BB,Frekuensi 1 x sehari
</td>
    </tr>
	<tr>
      <th scope="row">5</th>
      <td>WACOPA<br/>Membantu keseimbangan hormonal wanita, mengatasi keluhan premenopause dan menopause, mencegah risiko osteoporosis dan obesitas pada wanita menopause, meningkatkan kepadatan tulang, meningkatkan sistem kekebalan tubuh dan stamina.</td>
      <td>Tiap tablet salut selaput mengandung Ekstrak Tribulus terrestris 750 mg</td>
      <td>1 x 1 tablet salut selaput sehari<br/>
2 x 1 tablet salut selaput sehari selama 6 minggu (untuk meningkatkan BMD pada wanita postmenopausal & osteopenia)</td>
    </tr>
  </tbody>
</table>