<div class="media">
  <img src="assets/Partnership-1.jpg" class="mr-3" alt="...">
  <div class="media-body">
    <p>
    We have built not only the reputation in the pharmaceutical industry but also
the comprehensive sales and marketing networks,throughout the whole Indonesia within 34 provinces and our representatives to serve health professionals.<br/> <br/>
In partnership, we strive to build enduring, mutually beneficial relationships that can produce positive result for both parties in long- term.<br/>
We welcome in sales and marketing partnerships and product acquisition opportunities locally and internationally.<br/><br/>

<b>For business, licensing and partnership inquiries, please send email to:</b><br/>

business-development@Expelliarmusfarma.co.id <br/>
international.partnership@Expelliarmusfarma.co.id </p>
  </div>
</div>
