<p> We are proud to introduce the representative offices<br/> 
Our sales and marketing network spreads throughout 34 provinces in Indonesia and we have more than 200 marketing representatives to serve health professionals</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Office</th>
      <th scope="col">Address</th>
	  <th scope="col">Telepon</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Jakarta</td>
      <td>Jl.Raya Perjuangan No. 99
Graha Kencana Blok GE-BA
Kebon Jeruk, Jakarta Barat</td>
 <td>021-8915979</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Bandung</td>
      <td>Jl.DR.Setiabudi No.8
Bandung, West Java</td>
<td>022-8042989</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Tangerang</td>
      <td>Jl. Sinar Hati Raya No. 23
Sukajadi, Karawaci
Tangerang, Banten</td>
<td>023-0399099</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Palembang</td>
      <td>Jl. Letnan Hadin Blok D3 No.1988
Ilir Timur, Palembang, South Sumatera</td>
<td>0711-379360</td>
    </tr>
	<tr>
      <th scope="row">5</th>
      <td>Cilegon</td>
      <td>Pondok Cilegon Indah Blok C 54 No. 16
	  Cilegon, Banten</td>
<td>023-0399360</td>
    </tr>
	<tr>
      <th scope="row">6</th>
      <td>Bekasi</td>
      <td>Jl. Taman Mawar Blok C2 No. 23 Bekasi Jaya Indah
	  Bekasi, West Java</td>
<td>029-0899367</td>
    </tr>
	<tr>
      <th scope="row">7</th>
      <td>Bogor</td>
      <td>Jl. Raya Pemda Kedung Halang No. 57
Bogor, 14630 West Java</td>
<td>0272-732304</td>
    </tr>
	<tr>
      <th scope="row">8</th>
      <td>Banjarmasin</td>
      <td>Jl. Djok Mentaya No. 223
Banjarmasin 17112, South Kalimantan</td>
<td>0511-3366759</td>
    </tr>
	<tr>
      <th scope="row">9</th>
      <td>Denpasar</td>
      <td>Jl. Gatot Subroto III – D No.9
Gd.Penta Valent – LT.5
Penatih, Denpasar, Bali</td>
<td>0321-5779759</td>
    </tr>
	<tr>
      <th scope="row">10</th>
      <td>Makassar</td>
      <td>Jl. A.P. Pettarani Blok G9 No. 24
Makassar, South Sulawesi</td>
<td>0411-435503</td>
    </tr>
  </tbody>
</table>